<!--
 * @Author: guanyj
 * @Email: 18062791691@163.com
 * @Date: 2019-02-11 14:51:52
 * @LastEditTime: 2019-02-15 21:41:20
 -->

<div class="todo-wrap">
    <ul class="todo-menu">
        <!-- 新增任务 -->
        <li nz-popover
            class="override"
            [nzPlacement]="'rightTop'"
            [nzTitle]="popTitle"
            [nzTrigger]="'click'"
            [nzContent]="popContent">
            <span class="font_family icon-xinjianshiyongX"></span>
            <span>New Task</span>

            <ng-template #popTitle>
                <input class="task-name-input" nz-input [ngModel]="'new tag'">
                <div class="pop-actions">
                    <span class="action-active font_family icon-shizhong"></span>
                    <span class="font_family icon-alarm"></span>
                    <span class="action-active font_family icon-tupian"></span>
                    <span class="font_family icon-icon_repeat"></span>
                </div>
            </ng-template>

            <ng-template #popContent>
                <div class="pop-content-wrap">
                    <div class="pop-tag-wrap">
                        <div class="todo-tags">
                            <span class="font_family icon-biaoqian"></span>
                            <nz-tag *ngFor="let tag of editTaskTags"
                                class="todo-tag"
                                [nzMode]="'closeable'"
                                [nzColor]="tag.color"
                                (nzAfterClose)="afterTagClose(tag)">{{tag.name}}</nz-tag>
                            <nz-tag *ngIf="!inputVisible" class="editable-tag"
                                (click)="showInput()">
                                <i nz-icon type="plus"></i> New Tag
                            </nz-tag>
                            <input
                                #inputEl
                                class="todo-input"
                                *ngIf="inputVisible"
                                [nzSize]="'small'"
                                style="width: 78px;"
                                maxlength="12"
                                nz-input
                                (keydown.enter)="onInputConfirm(inputEl.value)"
                                (blur)="onInputConfirm(inputEl.value)">
                        </div>
                        <em class="date-start">{{rangePicker.nzValue[0]?.nativeDate | taskTimeFormat:'Start'}}
                            <span class="font_family icon-kaishi"></span>
                        </em>
                        <em class="date-end">{{rangePicker.nzValue[1]?.nativeDate | taskTimeFormat:'End'}}
                            <span class="font_family icon-wancheng1"></span>
                        </em>

                        <nz-range-picker class="date-range-picker" #rangePicker [nzAllowClear]="false" [nzSize]="'small'"></nz-range-picker>
                    </div>

                    <div class="todo-textarea">
                        <span class="font_family icon-all"></span>
                        <textarea nz-input rows="5"></textarea>
                    </div>
                </div>
            </ng-template>
        </li>
        <li (click)="onTodoClick(1)" [class.todo-item-active]="selectedIndex === 1"><span class="font_family icon-all"></span>All</li>
        <li (click)="onTodoClick(2)" [class.todo-item-active]="selectedIndex === 2"><span class="font_family icon-ic_today"></span>Todo</li>
        <li (click)="onTodoClick(3)" [class.todo-item-active]="selectedIndex === 3"><span class="font_family icon-shouye"></span>Doing</li>
        <li (click)="onTodoClick(4)" [class.todo-item-active]="selectedIndex === 4"><span class="font_family icon-wancheng"></span>Done</li>
        <li (click)="onTodoClick(5)" [class.todo-item-active]="selectedIndex === 5"><span class="font_family icon-shoucang"></span>Starred</li>
    </ul>

    <div class="todo-body">
        <nz-list class="override"
            [nzDataSource]="data"
            [nzBordered]="true"
            [nzSize]="'small'"
            [nzRenderItem]="item">
            <ng-template #item let-item>
                <nz-list-item [nzContent]="content">
                    <ng-template #content>
                        <label nz-checkbox></label>
                        <span>{{item}}</span>
                    </ng-template>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </div>
</div>
