.todo-wrap {
    background-color: #f5f5f5;
    display: flex;

    .todo-menu {
        flex: 0 1 180px;
        list-style: none;
        // width: 180px;
        padding: 0;
        margin: 0;
        border: 1px solid #e8e8e8;
        border-bottom: none;

        .todo-item-active {
            background-color: #ececec;
        }

        li {
            line-height: 28px;
            border-top: 1px solid #fbfbfb;
            border-bottom: 1px solid #e8e8e8;
            border-right: 1px solid #fbfbfb;
            border-left: 1px solid #fbfbfb;
            border-radius: 2px;
            padding: 0px 15px;
            cursor: pointer;

            .font_family {
                margin-right: 5px;
                font-size: 14px;
                font-weight: bold;

                &.icon-xinjianshiyongX {
                    color: #4caf50;
                }

                &.icon-all {
                    color: #2196f3;
                }

                &.icon-ic_today {
                    color: #e91e63;
                }

                &.icon-shouye {
                    color: #ff9800;
                }

                &.icon-wancheng {
                    color: #4caf50;
                }

                &.icon-shoucang {
                    color: #ff5722;
                }
            }

            &:hover {
                background-color: #ececec;
            }
        }
    }

    .todo-body {
        flex: auto;
        padding: 10px 20px;
    }
}

.editable-tag ::ng-deep .ant-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
}

.task-name-input {
    border: none;
    width: 140px;
    border-radius: 0;

    &:focus {
        box-shadow: none;
        border-bottom: 1px solid #ccc;
    }
}

$popLeft: 30px;

.pop-content-wrap {
    position: relative;
    min-width: 500px;
    min-height: 50px;
    font-size: 12px;
    .pop-tag-wrap {
        background: #dfe7e8;
    }
    .todo-tags {
        white-space: pre-wrap;
        min-height: 50px;
        width: 400px;
        font-size: 12px;
        padding-left: $popLeft;

        .icon-biaoqian {
            position: absolute;
            left: 0;
            width: $popLeft;
            text-align: center;
        }

        .ant-tag {
            margin-bottom: 3px;
        }

        .todo-input {
            height: 22px;
            top: 1px;
            border-color: #FF9800;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .date-start, .date-end {
        position: absolute;
        margin-right: 5px;
        right: 0;
        top: 0;

        .font_family {
            font-size: 12px;
        }

        .icon-kaishi {
            color: #00BCD4;
        }

        .icon-wancheng1 {
            color: #607D8B;
        }
    }

    .date-end {
        top: 20px;
    }

    .date-range-picker {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        width: 50px;
        height: 50px;
    }

    .todo-textarea {
        position: relative;

        .font_family {
            position: absolute;
            top: 5px;
            text-align: center;
            width: $popLeft;
            font-size: 14px;
            z-index: 99;
        }

        textarea {
            background: #fffaec;
            border: none;
            border-radius: 0;
            padding-left: $popLeft;
            font-size: 12px;

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.pop-actions {
    float: right;

    .font_family {
        padding: 2px;
        border: 1px dashed rgba(255, 255, 255, 0);
        border-radius: 99px;
        margin: 0 8px;
        color: #757575;
        cursor: pointer;

        &:hover {
            border: 1px dashed #757575;
        }
    }

    .action-active {
        background: #00BCD4;
        color: #fff;
    }
}
