<!--
 * @Author: guanyj
 * @Email: 18062791691@163.com
 * @Date: 2019-02-05 17:43:22
 * @LastEditTime: 2019-02-10 13:14:34
 -->
<div class="collection-list-wrap">
    <div class="grid-wrap" [@collectionChange]="isDetailOpen ? 'listClose' : 'listOpen'">
        <waf-grid *ngIf="columns"
            [gridModal]="dataSource"
            [columns]="columns"
            (customAction)="onAction($event)"
            (dataSourceChange)="handleDataSourceChange($event)">

            <ng-template wafGridLeftHeaderTemplate>
                <button robTodo class="header-btn" nz-button>批量删除</button>
                <button class="header-btn" nz-button (click)="handleCreate()">新建</button>
            </ng-template>
        </waf-grid>
    </div>

    <div class="detail-wrap" [@detailChange]="isDetailOpen ? 'detailOpen' : 'detailClose'">
        <rob-document-detail [documentType]="documentType" [modal]="doc" [tableName]="tableName" [rules]="columns" (onback)="handleBack()"></rob-document-detail>
    </div>
</div>
