.login-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/image/login_bg.jpg');
    background-size: cover;

    .login-main {
        position: absolute;
        left: 50%;
        top: 100px;
        width: 500px;
        height: 400px;
        margin-left: -250px;
        padding: 50px 100px;
        color: #fff;
        background: rgba(11, 15, 45, 0.6);
        box-shadow: 1px 1px 9px 0px #909ce4;
        border-radius: 5px;

        .logo {
            color: #bae7ff;
            text-align: center;
            font-size: 40px;
            font-family: fantasy;
            margin-bottom: 0.2em;
            text-shadow: 3px 2px 3px #1890ff;
        }

        .remember {
            color: #fff;
        }
    }
}
