/* You can add global styles to this file, and also import other style files */

* {
    font-family: Wawati SC, Hanzipen SC, STHeiti !important;
}

.override.ant-tabs {
    overflow: visible;

    .ant-tabs-content {
        box-shadow: 2px 2px 8px 0 #bfbfbf;
        border-radius: 2px;
        padding: 20px 30px;
        background: #fff;
        min-height: 500px;
        overflow: auto;
    }

    .ant-tabs-bar {

        .ant-tabs-tab {
            border-radius: 2px 2px 0 0;
            margin-right: 5px;
        }

        .ant-tabs-tab-active {
            font-weight: 400;
            color: #f5222d;
        }
    }
}

.override.ant-menu {

    .ant-menu-item {
        margin: 0;

        .delete-btn {
            display: inline-block;
            float: right;
            visibility: hidden;
            transition: 0.1s;
        }

        &:hover {
            .delete-btn {
                visibility: visible;
            }
        }
    }
}

