<!--
 * @Author: guanyj
 * @Email: 18062791691@163.com
 * @Date: 2019-02-07 09:46:27
 * @LastEditTime: 2019-02-08 14:50:12
 -->

<div class="document-detail-wrap">
    <hs-form *ngIf="rules" [data]="modal" [rules]="rules">

        <ng-template hsFormFooterTemplate let-rules>
            <button style="margin-right: 10px;" nz-button [disabled]="!(rules.dirty && rules.valid)" (click)="handleSubmit()">确认</button>
            <button nz-button (click)="handleBack()">返回</button>
        </ng-template>
    </hs-form>
</div>
